### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/View/nbproject/private/
/View/build/
/source/src/GUI/JavaApplication1/nbproject/private/
/source/src/GUI/JavaApplication1/build/
/source/src/VIew/GUI/JavaApplication1/build/
/source/src/VIew/GUI/JavaApplication1/nbproject/private/
/source/src/VIew/GUI/View/build/
/source/src/VIew/GUI/View/nbproject/private/
/source/src/View/JavaApplication1/build/
/source/src/View/JavaApplication1/nbproject/private/
/source/src/View/View/build/
/source/src/View/View/nbproject/private/
/target/
/.idea/
